.txtimportant {
    color: rgba(144, 51, 5, 0.568);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.txtitalique {
    font-style: italic;
}
#txtgros {
    background: rgba(144, 51, 5, 0.568);
}

p {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
