body {
    width: 100%;
    height: 100vh;
    margin: ;
}
h1 {
    /* Ceci est l'écriture en sélectionnant chaque déclaration une à une */
    /* font-style: italic;
    font-weight: 100;
    font-size: 40px;
    line-height: 2;
    font-family: sans-serif; */
    margin: 0;
    /* Voici l'écriture avec une seule déclaration avec plusieurs valeurs. Attention à respecter l'orde des propriété font size et line-height qui peuvent toutes les deux avoir des px; il faut donc les séparer avec un slash */
    font:italic 100 40px/1 sans-serif;
}
p {
    font-style: italic;
    font-weight: 800;
    margin: 0;
}
