body {
    height: 100vh;
}
.img-responsive {
    width: 100%;
    height: auto;
}
.carte-img {
    width: 450px;
    height: auto;
    overflow: hidden;
    border: 1px solid black;
}

.bloc-img {
    height: 70%;
    width: 100%;
    overflow: hidden;
}
.carte-img h3 {
    padding: 10px;
}
.carte-img a {
    padding: 0px 10px;
}
.carte-img p {
    padding: 0px 10px 10px 10px;
}
.carte-img hr {
    margin-bottom: 15px;
}
